* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(35deg, #ffffff, #ffcc01);
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

.container {
    min-width: 100vw;
    margin: 0 auto;
}

header.header-content {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 10px;
}

/* div.header-skew {
    position: relative;
    height: 300px;
    overflow: hidden;
}

div.header-bg {
    postition: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4c4981;
    transform: skewY(-6deg);
    transform-origin: top-left;
} */

section.call-to-action {
    min-height: 100vh;
    width: 100vw;
    margin-left: -1px;
    padding-top: 10px;
    display: flex;
    position: relative;

    background-image: url("images/img1-lotowner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 5px dashed #ffd95e;
    9
}

div.cta-content-left {
    width: 50%;
}

div.cta-content-right {
    width: 50%;
    float: right;
    position: fixed;
}

main {
    width: 100%;
    flex: 1;
}

div.logo {
    display: flex;
}

img.logo {
    width: 200%;
}

h3 {
    font-family: "Open Sans";
    font-size: 5em;
    padding-left: 1.5em;
    text-align: center;
    color: #4c4981;
    text-shadow: 0 -.05em .05em lightgray;
}

button {
    padding: .3em .8em;
    border: 1px solid #446d88;
    background: #58a linear-gradient(#ffd95e, #58a);
    border-radius: .2em;
    box-shadow: 0 .05em .25em gray;
    color: white;
    font-family: 'Roboto';
    text-shadow: 0 -.05em .05em #335166;
    font-size: 225%;
    line-height: 1.5;
    margin-left: 4.7em;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 50em;
    max-width: 100vw;
    background-color: #ffd95e;
    border-top: 5px dashed #4c4981;
}

div.card-container {
    display: inline;
    /* border: 2px solid #4c4981; */
    width: 320px;
    height: 300px;
    background-color #ffd95e;
    margin-top: 50px;
}

figure.card-content {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

img {
    display: inline-block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

img.iphone {
    border-radius: 0;
    width: 50%;
    height: auto;
    float: right;
}

a#h1-id {
    margin-left: 10px;
    font-family: "Trade Winds";
    font-size: 1.7em;
    color: #4c4981;
}

nav {
    display: inline-flex;
    justify-content: flex-end;
    padding-left: 30px;
    padding-top: 20px;
}

a {
    text-decoration: none;
    font-family: "Open Sans";
    font-size: 16px;
    color: #4c4981;
    margin-right: 20px;
}

a:hover {
    border-bottom: 2px dashed #ffcc01;
}

h2 {
    font-family: "Trade Winds";
    font-size: 2.5em;
}

p.p {
    font-family: "Open Sans";
    font-size: 2.5em;
}

section.testimony {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
    border-top: 5px dashed #ffd95e;
    justify-content: center;
}

div.testimony-content-left {
    max-width: 50%;
    min-height: 30em;
    display: inline-block;
    padding-top: 2em
}

div.testimony-content-right {
    max-width: 50%;
    min-height: 30em;
    display: inline-block;
    font-family: "Open Sans";
    font-size: 2.5em;
    margin: 0 auto;
    text-align: center;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 4em;
    border-left: 5px dashed #4c4981;
}

section.testimony {
    width: 100vw;
}

a.foot {
    color: #ffcc01;
}

footer {
    min-height: 30em;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #000;
    background-image: url("images/imgfoot2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
    flex: 2;
    margin-top: -5px;
}